.container {
    text-align: center;
}

.h1 {
    font-size: 2rem;
}

.input {
    padding: 0.5rem;
    margin-right: 1rem;
}

.button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
}

/* .ul {
    list-style: none;
    padding: 0;
} */

.li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
