.equation {
    text-align: center;
}

.equationItems {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 72px;
    margin: 4px 0px;
}

.equationBox {
    padding: 0px 5px;
}

.won {
    color: green;
    font-size: 95px;
}